body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

/* Styles pour la barre de navigation */
.navbar {
    background-color: #f8f8f8;
    padding: 30px; /* Agrandit encore plus la barre de navigation */
    display: flex;
    align-items: center; /* Aligne les éléments au centre verticalement */
    justify-content: space-between; /* Espace les éléments de manière égale */
}

.logo {
    height: 80px; /* Taille du logo encore augmentée */
}

.nav-title {
    flex-grow: 1; /* Permet à l'élément de prendre l'espace disponible */
    text-align: center; /* Centre le texte */
    font-size: 32px; /* Augmente encore la taille de la police */
    font-weight: bold;
}

.nav-buttons {
    display: flex;
}

.nav-button {
    margin-left: 10px;
    margin-right: 10px; /* Ajout d'une marge à droite */
    padding: 15px 20px; /* Augmente les dimensions des boutons */
    background-color: #eaeaea;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Styles pour le pied de page */
.footer {
    background-color: #f8f8f8;
    padding: 10px;
    text-align: center;
    position: fixed; /* Fixe le pied de page en bas */
    bottom: 0;
    width: 100%;
}

.main-content {
    padding: 20px;
    text-align: center;
}

.hotel-image {
    width: 80%; /* Taille de l'image de l'hôtel */
    max-width: 800px;
    height: auto;
    margin: 0 auto 20px auto; /* Centre l'image et ajoute une marge en bas */
}

.intro-text, .history-text {
    margin: 20px 0;
    font-size: 18px;
    line-height: 1.6;
}

.intro-text {
    font-weight: bold;
    font-size: 24px;
    color: #333;
}

.history-text {
    font-size: 18px;
    color: #666;
}

.signup-page {
    padding: 20px;
    text-align: center; /* Centrer le texte dans la page */
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #4CAF50; 
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

.form-container input[type="submit"]:hover {
    background-color: #45a049; 
}

.hotel-container {
    display: flex;
    flex-direction: column-reverse;
    margin: 20px auto;
    width: 320px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #e6e6e6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.etage {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    background-color: #fff;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.etage:hover {
    background-color: #f0f0f0;
}

.etage.zoom {
    transform: scale(1.1);
    z-index: 1;
    background-color: #dcdcdc;
}

.fenetre {
    width: 60px;
    height: 80px;
    background-color: #87ceeb;
    border: 2px solid #333;
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.fenetre::before {
    content: '';
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.etage-container {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    width: 80%;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #e6e6e6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.chambre {
    width: 80px;
    height: 100px;
    background-color: #87ceeb;
    border: 2px solid #333;
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.chambre-container {
    margin: 20px auto;
    width: 80%;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #e6e6e6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 18px;
    color: #333;
}

.creators h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.creator {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.creator-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #333;
    object-fit: cover;
}

.creator p {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}
.error-message {
    color: red;
    margin-top: 10px;
}

/* Ajoutez ce CSS à votre fichier style.css */

/* Bats */
svg {
    width: 100%;
}

.eye {
    fill: var(--basecolor);
}

.shadow {
    -webkit-filter: blur(6px);
    filter: blur(6px);
    opacity: 0.2;
}

.bat {
    animation-direction: normal;
    animation: move 15s infinite;
    animation-timing-function: ease-in-out;
    transform-origin: 50% 50%;
}

.bat1 {
    animation-direction: normal;
    animation: move1 15s infinite;
    animation-timing-function: ease-in-out;
    transform-origin: 50% 50%;
}

.bat2 {
    animation-direction: normal;
    animation: move2 15s infinite;
    animation-timing-function: ease-in-out;
    transform-origin: 50% 50%;
}

.wing {
    transform-origin: 50% 50%;
    animation-direction: normal;
    animation: wing 1s infinite;
    animation-timing-function: ease-in-out;
}

.wing1 {
    transform-origin: 50% 50%;
    animation-direction: normal;
    animation: wing1 1s infinite;
    animation-timing-function: ease-in-out;
}

@keyframes move {
    0% {
        transform: translate(150px, 90px) rotate(10deg);
    }
    25% {
        transform: translate(-150px, 90px) rotate(-10deg);
    }
    50% {
        transform: translate(-160px, -80px) rotate(10deg);
    }
    75% {
        transform: translate(-140px, -100px) rotate(-10deg);
    }

    100% {
        transform: translate(150px, 90px) rotate(10deg);
    }
}

@keyframes move1 {
    0% {
        transform: translate(-140px, -70px) rotate(-10deg);
    }
    25% {
        transform: translate(0px, -50px) rotate(10deg);
    }
    50% {
        transform: translate(150px, 50px) rotate(-10deg);
    }
    75% {
        transform: translate(-100px, 30px) rotate(10deg);
    }
    85% {
        transform: translate(-110px, 90px) rotate(10deg);
    }

    100% {
        transform: translate(-140px, -70px) rotate(-10deg);
    }
}

@keyframes move2 {
    0% {
        transform: translate(150px, -70px) scale(1) rotate(10deg);
    }
    25% {
        transform: translate(160px, -90px) scale(0.7) rotate(-10deg);
    }
    50% {
        transform: translate(170px, -100px) scale(0.7) rotate(10deg);
    }
    75% {
        transform: translate(105px, -80px) scale(1) rotate(-10deg);
    }

    100% {
        transform: translate(150px, -70px) scale(1) rotate(10deg);
    }
}

@keyframes wing {
    0% {
        transform: translate(0px, 0px) scale(1) rotate(0deg);
    }
    50% {
        transform: translate(0px, 0px) scaleX(0.5) rotate(-25deg);
    }
    100% {
        transform: translate(0px, 0px) scale(1) rotate(0deg);
    }
}

@keyframes wing1 {
    0% {
        transform: translate(0px, 0px) scale(1) rotate(0deg);
    }
    50% {
        transform: translate(0px, 0px) scaleX(0.5) rotate(25deg);
    }
    100% {
        transform: translate(0px, 0px) scale(1) rotate(0deg);
    }
}

